.cart-item {
    height: 150px;
    border: 1px solid var(--first);
    border-radius: 10px;
    margin: 10px;
    background-color: var(--third);
}

.cart-item > * {
    height: 100%;
    width: 33.33%;
    overflow: hidden;
}

.cart-img {
    object-fit: cover;
    height: 100px;
}

.item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.total-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.total-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: clamp(200px, 95%, 700px);
    margin: auto;
}