.logo {
    position: fixed; 
    top: 75px; 
    right: 175px; 
    z-index: 2; 
    font-size: 2.5rem !important;
}
.logo2 {
    position: fixed; 
    top: 300px; 
    right: 800px; 
    z-index: 2; 
    font-size: 3rem !important;
}

.caixa {
    background-color: var(--bg-light);
    border: var(--accent-light);
    color: var(--text-first);
    padding: 15px 32px;
    height: 20px;
    width: 80%;
    border-radius: 5px;    
}

.botao {
    background-color: var(--first);
    border: none;
    color: var(--text-first);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 50%;
    flex-wrap: nowrap !important;
}

.botao:hover {
    background-color: var(--text-first);
    color: var(--first);
    border: var(--first);
}

.form-par {
    position: absolute;
	width: 10px;
	height: 500px;
	transform: skew(20deg);
	background-image: black !important;
}

body {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.5) 0.5%, #2E0C79), url("../img/login_bg_PONG.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.form-cont {
    padding: 60px 45px 25px 150px;
    width: clamp(250px, 100%, 700px) !important;
    margin-left: auto;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(#2E0C79, black);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

/* .form-inp::placeholder { color: var(--text-first) !important; } */
.form-inp:focus { outline: none !important; }
.form-inp::selection { outline: none !important; }

.form-inp {
    border: none !important;
    font-size: 16px;
    padding: 10px !important;
    background-color: transparent !important;
    color: var(--text-first) !important;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #888;
    transition: all .25s;
}

.input-wrapper:focus-within { 
    border-bottom: 2px solid var(--accent) !important;
}

.eye-btn-wrapper {
    height: 100%;
    width: 10%;
    cursor: pointer;
    padding: 10px;
}